body { /*background-image: url("fotos/trama_fondo2.jpg");*/
	     background-color: #FAFBAC;
       font-family: : arial;
       display: block;
       width: 100%;
       }

.discog { /*background-image: url("fotos/trama_fondo.jpg");*/
          background-color: black;
          font-family: : arial;
          display: block;
          width: 100%;
       }
.tour_banner { 
       background-color: #2A2D88;
       font-family: : arial;
       display: block;
       width: 100%;
       }


h2 { color: #5157CE;
    text-align: center;
    font-family: arial;
    font-size:20px;
    font-weight: bold;}

p { color:#5157CE;
   font-size: 20px;
   font-family: arial; }

a { font-family: arial;
    font-size: 20px;
     }


/* botón búsqueda*/

.btn-outline-success { color:#5157CE;
                       border-color: #5157CE;}




/* -------------------------------------------------------barra de navegación---------------------------------------------------*/

.bg-light { background-color:#F5A7E0!important;}


/*---------------------------------------------------------contenido HOME *------------------------------------------------------*/
main{text-align: center;
      margin-top: 80px;
      }
.carousel-inner {
    margin-top: -77px;
    margin-bottom: 10px;
    max-height: 400px;

                 }


.hist-txt{ padding-left:5px; }

#historia {
           padding-left:65px;
           margin-top: 15px;}

.hist1 .hist2 { text-align: center;

          }

article{
	    width:45%;
        display: inline-block;
        text-align:left;
        vertical-align: top;
        }

.hist1,.hist2 { background-color: #C3C5F8;
                border-radius: 15px; }
.hist1{ float: left; }

.hist-img { text-align: center;
            max-width: 100%; }

.hist1 .hist2 p { max-height: 400px; }

/*------------------------------------------------------------- barra de noticias-------------------------------------------------*/

.news_title { background-color:#F5A7E0;}
.news_title h2 { font-size: 30px;
                 font-weight: bolder; }



#noticias{ margin-top:100px;
}

#listanews { padding-right: 40px;
}

.news { width:calc(20% - 25px);
	      margin-left: 20px;
        background-color: #F5A7E0;
        display: inline-block;
        vertical-align: top;
        min-height: 300px;
        border-radius: 20px; }

.news a {color: #5157CE;
         min-height: 140px;
         font-size: 24px;
         display: block;
         font-weight: bolder;
         text-decoration: none
         ;
         padding-top: 10px;}


.headline { background-color: #C3C5F8;
            min-height: 190px; }

.fotonews { background-color: #C3C5F8;
            padding-bottom: 5px;
          }
.fotonews img { max-height: 190px;
                max-width: 80% }

/*-----------------------------------------------------------------------discogrfia----------------------------------------------------*/
.disco_content{ margin-top: 0px; }


.img-disco { width:18%;
             background-color: blue;
             display: inline-block; 
             min-height: 200px;
             float: left;
            
           }
.img-disco img { max-height: 200px;
                 width: 100%;
                  }




.disco-info{ /*background-image: url("fotos/trama_fondo3.jpg");
             background-size: cover;*/
             background-color: #292B61;
             min-height: 200px;
             display: inline-block;
             width:82%;
             float: right;

             

            
             }

/*.disco-info p { max-height: 200px;
                font-size: 50px;
                font-weight: bold;
                color: white;
*/
                 
.nombre_disco p { font-size: 50px;
                 color:white;
                 font-weight: bolder;}

.fecha p { font-size: 20px;
         color:white;
         font-weight: bold;
          }







/*--------------------------------------------------------------------------Tours-----------------------------------------------------*/
 
.tpais { display: flex;
         flex-flow: row;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-top: -70px;}

.tgaleria{
          width:24%;
          margin-top: 15px;
          border-color: white;
          border-style: solid;

          
          
          }

.tgaleria a {
         text-decoration: none;
         font-size: 40px;
         color: black;
         line-height: 400px;
         display: none;
            }

.tgaleria:hover a { color: white; 
                   display: block;
                   font-weight: bolder; 
                  }


.lax { background-image: url("fotos/los_angeles.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;

       }

.lax:hover { opacity: 1.0; }

.newy { background-image: url("fotos/ny.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.newy:hover { opacity: 1.0; }

.tex { background-image: url("fotos/houston.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.tex:hover { opacity: 1.0; }

.flori { background-image: url("fotos/miami.jpg") ;
       background-size: cover;
       min-height:350px;
       opacity: 0.5;
       }

.flori:hover { opacity: 1.0; }

.tok { background-image: url("fotos/tokio.png") ;
       background-size: cover;
       min-height:350px;
       opacity: 0.5;
       }

.tok:hover { opacity: 1.0; }

.shg { background-image: url("fotos/shangai.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.shg:hover { opacity: 1.0; }

.seu { background-image: url("fotos/seul.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }
.seu:hover { opacity: 1.0; }

.sng { background-image: url("fotos/singapur.jpeg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }
.sng:hover { opacity: 1.0; }

.brl { background-image: url("fotos/berlin.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.brl:hover { opacity: 1.0; }

.ams { background-image: url("fotos/amsterdam.jpeg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.ams:hover { opacity: 1.0; }

.barc { background-image: url("fotos/barcelona.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.barc:hover { opacity: 1.0; }

.par { background-image: url("fotos/paris.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.par:hover { opacity: 1.0; }

.mad { background-image: url("fotos/madrid.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.mad:hover { opacity: 1.0; }

.edim { background-image: url("fotos/edimburgo.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.edim:hover { opacity: 1.0; }

.lon { background-image: url("fotos/londres.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.lon:hover { opacity: 1.0; }

.rom { background-image: url("fotos/roma.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.rom:hover { opacity: 1.0; }

.med { background-image: url("fotos/medellin.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.med:hover { opacity: 1.0; }

.bsas { background-image: url("fotos/buenos.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.bsas:hover { opacity: 1.0; }

.rio { background-image: url("fotos/rio.jpg") ;
       background-size: cover;
       min-height: 350px;
       opacity: 0.5;
       }

.rio:hover { opacity: 1.0; }

.san { background-image: url("fotos/santiago.jpg") ;
       background-size: cover;
       min-height:350px;
       opacity: 0.5;
       }

.san:hover { opacity: 1.0; }


/*footer*/

footer {width:100%;
	      max-height: 40px;
        background-color:#F5A7E0;
        margin-top: 25px;
        }



footer a { text-decoration: none; }

footer li{display:inline-block;} 

footer i {font-size:35px;
          color:#5157CE;
          margin-right: 10px;
          padding-top: 10px , 0px;}


/*mobile*/


@media only screen and (max-width: 500px) 
{

/*--------------------------------------------------------Home------------------------------------------------------------------*/
/*main*/

#historia { display: flex;
          flex-flow: column;
          padding-left: 2px;}

.hist1, .hist2 { 
                width: 100%; 
                display: block;
              }







#listanews{ display: flex;
            flex-wrap: wrap;
            flex-flow: column; }



.news { width:100%;
        margin-top: 15px;
        
         }




/*--------------------------------------------------------------Tours-----------------------------------------------------------*/

.tpais { display: flex;
         flex-flow: column;
         flex-wrap: wrap;
         margin-top: -70px;}




.tgaleria{
          width:90%;
          margin-top: 15px;
          margin-left: 20px;
          border-color: white;
          border-style: solid;

          
          
          }



}

@media only screen and (max-width: 1024px) 






