body { background-image: url("fotos/trama_fondo2.jpg");
	     background-color: black;
       font-family: : arial;
       display: block;
       width: 100%;
       }

.discog { background-image: url("fotos/trama_fondo.jpg");
          background-color: black;
          font-family: : arial;
          display: block;
          width: 100%;
       }
.tour_banner { background-image: url("fotos/trama_fondo4.jpg");
       background-color: black;
       font-family: : arial;
       display: block;
       width: 100%;
       }


h2 { color: #C1F5F0;
    text-align: center;
    font-family: arial;
    font-size:20px;}

p { color:#FC77F0;
   font-size: 20px;
   font-family: arial; }

a { font-family: arial;
    font-size: 20px;
     }


/* botón búsqueda*/

.busq input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    background-color: #C1F5F0;
    background-image: url('fotos/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.busq input[type=text]:focus {
    width: 15%;
}


.banner1 { 
          display: inline-block;
          width:60%;
          text-align:right;
          padding-right: 80px;
          }
.banner2 { display: inline-block;
          width:33%;
          vertical-align: top; } 


/* barra de navegación*/

nav {padding-right: 100px;
box-sizing: content-box;}
nav ul { text-align: center;
	     list-style: none;
         
         }


nav a{ text-decoration: none;
       color:white;
       font-size: large;
       font-weight: bolder;}

nav a:hover{color:#3D0738;}

nav a:active{color:##3D0738;}



.navi { width:15%;
        padding-top: 10px;
        margin-left: 25px;	
        border-radius: 25px;
	      background:linear-gradient(to top, #3D0738, black);
	      display:inline-block;
	      text-align: center;
        transition: ease all 0.2s;
        padding-bottom: 7px;
	   



	    }

.navi:hover{ background:linear-gradient(to top, #C00994, #B776A7);
	         color: white;
	         box-shadow: inset 0 0 0 3px #C1F5F0;
             transform: scale(0.9);


}
 
.navi a { display:block; }



	     
.disco { display:none;
         position: absolute;
         width: 85px;
         background-color: #3D0738;
         text-decoration: none;
         z-index: 1200

         }
.disco a:hover{color:white;
               background:linear-gradient(to top, #C00994, #B776A7); }

.disco a:active{color:black;}

.disco li {
            margin-left: -35px;
            margin-top: 5px;
            text-align: left;
             }




ul .navi:hover .disco {display:block;}
          
.tours { display:none;
         position: absolute;
         width: 85px;
         background-color: #3D0738;
         text-decoration: none;
         z-index: 1200

         }

.tours li {
            margin-left: -35px;
            margin-top: 5px;
            text-align: left;
             }

.tours a:hover{color:white;
               background:linear-gradient(to top, #C00994, #B776A7); }

.tours a:active{color:black;}


ul .navi:hover .tours {display:block;}

/*contenido*/
main{text-align: center;
      margin-top: 80px;
      }
#historia {
           padding-left:65px;}

.hist1 .hist2 { text-align: center;

          }

article{
	    width:45%;
        display: inline-block;
        text-align:left;
        vertical-align: top;
        }

.hist1{ float: left; }

.hist-img { text-align: center; }

.hist1 .hist2 p { max-height: 400px; }

/* barra de noticias*/


#noticias{ margin-top:100px;}

#listanews { padding-right: 40px;}

.news { width:calc(20% - 25px);
	      margin-left: 20px;
        background-color: #3E263C;
        display: inline-block;
        vertical-align: top;
        min-height: 300px; }

.news a {color: #C1F5F0;
         min-height: 140px;
         font-size: 24px;
         display: block;
         font-weight: bolder;
         text-decoration: none
         ;
         padding-top: 25px;}


.headline { background-color: #3D0738; }

.fotonews { background-color: #3D0738;
            margin: auto; }

/*discogrfia*/

.disco_content { margin-top: 150px ;
      padding-left: 200px;
        }

.disco_content ul,ol li {color: white;}



/*Tours*/
 
.tpais { display: flex;
         flex-flow: row;
         flex-wrap: wrap;
         justify-content: space-between;}

.tgaleria{
          width:25%;
          
          
          }

.tgaleria a {
         text-decoration: none;
         font-size: 40px;
         color: black;
         line-height: 400px;
         display: none;
            }

.tgaleria:hover a { color: white; 
                   display: block;
                   font-weight: bolder; 
                  }


.lax { background-image: url("fotos/los_angeles.jpg") ;
       background-size: cover;
       min-height: 300px;

       }


.newy { background-image: url("fotos/ny.jpg") ;
       background-size: cover;
       min-height: 400px;
       }



.tex { background-image: url("fotos/houston.jpg") ;
       background-size: cover;
       min-height: 400px;
       }



.flori { background-image: url("fotos/miami.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.tok { background-image: url("fotos/tokio.png") ;
       background-size: cover;
       min-height: 400px;
       }

.shg { background-image: url("fotos/shangai.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.seu { background-image: url("fotos/seul.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.sng { background-image: url("fotos/singapur.jpeg") ;
       background-size: cover;
       min-height: 400px;
       }
.brl { background-image: url("fotos/berlin.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.ams { background-image: url("fotos/amsterdam.jpeg") ;
       background-size: cover;
       min-height: 400px;
       }
.barc { background-image: url("fotos/barcelona.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.par { background-image: url("fotos/paris.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.mad { background-image: url("fotos/madrid.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.edim { background-image: url("fotos/edimburgo.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.lon { background-image: url("fotos/londres.jpg") ;
       background-size: cover;
       min-height: 400px;
       }
.rom { background-image: url("fotos/roma.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.med { background-image: url("fotos/medellin.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.bsas { background-image: url("fotos/buenos.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.rio { background-image: url("fotos/rio.jpg") ;
       background-size: cover;
       min-height: 400px;
       }

.san { background-image: url("fotos/santiago.jpg") ;
       background-size: cover;
       min-height: 400px;
       }


/*footer*/

footer {width:100%;
	      min-height: 40px;
        background-color:#3D0738;
        }



footer a { text-decoration: none; }

footer li{display:inline-block;} 

footer i {font-size:35px;
          color:grey;
          margin-right: 10px;
          padding-top: 10px , 0px;}


/*mobile*/


@media only screen and (max-width: 500px) 
{

img {width:100%;}

.busq input[type=text]:focus {
    width: 45%;
}

#banner {
          display: flex;
          flex-flow:column;
        }
.banner1, .banner2 { 
                width: 90%; 
              }

.banner2 { margin-left: 45px; }

/*main*/

#historia { display: flex;
          flex-flow: column;
          padding-left: 2px;}

.hist1, .hist2 { 
                width: 100%; 
                display: block;
              }





#listanews{ display: flex;
            flex-wrap: wrap;
            flex-flow: column; }



.news { width:100%;
        margin-top: 15px;
        
         }


}


@media only screen and (max-width: 1024px) 






