body { 
	     background-color: #FAFBAC;
        font-family: 'Indie Flower', cursive;
       display: block;
       width: 100%;
       }

h1 { font-size: 50px;
     font-weight: bolder;
      }
h2 { color: #5157CE;
    text-align: center;
     font-family: 'Indie Flower', cursive;
    font-size:40px;
    font-weight: bolder;}

p { color:#5157CE;
   font-size: 20px;
   font-weight: bold;
    font-family: 'Indie Flower', cursive; }

a {  font-family: 'Indie Flower', cursive;
    font-size: 20px;
     }
table { font-size: 24px; }


/* botón búsqueda*/

.btn-outline-success { color:#5157CE;
                       border-color: #5157CE;}




/* -------------------------------------------------------barra de navegación---------------------------------------------------*/

.titulos {display: none;}
.bg-light { background-color:#F5A7E0!important;
          }

.navbar-nav a { font-size: 24px;
                font-weight: bold; }

.btn-outline-success { font-size: 20px;
                      font-weight: bold; }


/*---------------------------------------------------------contenido HOME *------------------------------------------------------*/
main{text-align: center;
      margin-top: 80px;
      }
.carousel-inner {
    margin-top: -80px;
    margin-bottom: 10px;
    max-height: 400px;

                 }


.hist-txt{ padding:10px; }

#historia {
           padding-left:65px;
           margin-top: 150px;}

.hist1, .hist2 { 
                background-color: #C3C5F8;
              }

article{
	    width:45%;
        display: inline-block;
        text-align:left;
        vertical-align: top;
        }


.hist1{ float: left; }

.hist-img { text-align: center;
            max-width: 100%; }

.hist1 .hist2 p { max-height: 400px; }

/*------------------------------------------------------------- barra de noticias-------------------------------------------------*/



.news_title { background-color:#F5A7E0;}
.news_title h2 { font-size: 30px;
                 font-weight: bolder; }



#noticias{ margin-top:100px;
}

#listanews { padding-right: 40px;
}

.news { width:calc(20% - 25px);
	      margin-left: 20px;
        background-color: #F5A7E0;
        display: inline-block;
        vertical-align: top;
        min-height: 300px;
        border-radius: 20px; }

.news a {color: #5157CE;
         min-height: 140px;
         font-size: 24px;
         display: block;
         font-weight: bolder;
         text-decoration: none
         ;
         padding-top: 10px;}


.headline { background-color: #C3C5F8;
            min-height: 190px;
            padding-left: 10px; }

.fotonews { background-color: #C3C5F8;
            padding-bottom: 0px;
          }
.fotonews img { max-height: 200px;
                width: 100% }


/*--------------------------------------------------------------------------Tours-----------------------------------------------------*/
 
.title-tours { width: 100%;
               background-color:#5157CE;
               margin-bottom: 70px; 
              margin-top:-80px;}


.tpais { display: flex;
         flex-flow: row;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-top: -70px;}

.tgaleria{
          position: relative;
          width:24%;
          margin-top: 15px;
          border-color: white;
          border-style: solid;
          min-height: 350px; 
          }

.tgaleria a {
         text-decoration: none;
         font-size: 50px;
         color: black;
         display: none;
         top: 40%;
         position: relative;
         
            }

.tgaleria:hover a { color: black; 
                   display: block;
                   font-weight: bolder; 
                  }

.tgaleria:hover .angeles { opacity: 0.6;
}


.angeles
      { background-image: url("fotos/los_angeles.jpg") ;
       background-size: cover;
       position: absolute;
       min-height: 345px;
       width:100%;
       }


.newy { 
        background-image: url("fotos/ny.jpg") ;
        background-size: cover;
        position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .newy { opacity: 0.6;
                      }

.newy:hover { opacity: 1.0; }



.tex { background-image: url("fotos/houston.jpg") ;
       background-size: cover;
       position: absolute;
       min-height: 345px;
       width:100%;
       }

.tgaleria:hover .tex { opacity: 0.6;
                     }

.tex:hover { opacity: 1.0; }

.flori { background-image: url("fotos/miami.jpg") ;
       background-size: cover;
       position: absolute;
       min-height: 345px;
       width:100%;
       }

.tgaleria:hover .flori { opacity: 0.6;
                      }

.flori:hover { opacity: 1.0; }

.tok { background-image: url("fotos/tokio.png") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }
.tgaleria:hover .tok { opacity: 0.6;
                      }

.tok:hover { opacity: 1.0; }

.shg { background-image: url("fotos/shangai.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .shg { opacity: 0.6;
                      }
.shg:hover { opacity: 1.0; }

.seu { background-image: url("fotos/seul.jpg") ;
       background-size: cover;
      position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .seu { opacity: 0.6;
                      }
.seu:hover { opacity: 1.0; }


.sng { background-image: url("fotos/singapur.jpeg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .sng { opacity: 0.6;
                      }
.sng:hover { opacity: 1.0; }

.brl { background-image: url("fotos/berlin.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .brl { opacity: 0.6;
                      }

.brl:hover { opacity: 1.0; }

.ams { background-image: url("fotos/amsterdam.jpeg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }
.tgaleria:hover .ams { opacity: 0.6;
                      }

.ams:hover { opacity: 1.0; }

.barc { background-image: url("fotos/barcelona.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .barc { opacity: 0.6;
                      }

.barc:hover { opacity: 1.0; }

.par { background-image: url("fotos/paris.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .par { opacity: 0.6;
                      }
.par:hover { opacity: 1.0; }


.mad { background-image: url("fotos/madrid.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .mad { opacity: 0.6;
                      }
.mad:hover { opacity: 1.0; }

.edim { background-image: url("fotos/edimburgo.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .edim { opacity: 0.6;
                      }

.edim:hover { opacity: 1.0; }

.lon { background-image: url("fotos/londres.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

 .tgaleria:hover .lon { opacity: 0.6;
                      }

.lon:hover { opacity: 1.0; }

.rom { background-image: url("fotos/roma.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .rom { opacity: 0.6;
                      }

.rom:hover { opacity: 1.0; }

.med { background-image: url("fotos/medellin.jpg");
       background-size: cover;
       position: absolute;
       min-height: 345px;
       width:100%;
       }

.tgaleria:hover .med { opacity: 0.6;
                      }
.med:hover { opacity: 1.0; }

.bsas { background-image: url("fotos/buenos.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .bsas { opacity: 0.6;
                      }

.bsas:hover { opacity: 1.0; }

.rio { background-image: url("fotos/rio.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .rio { opacity: 0.6;
                      }
.rio:hover { opacity: 1.0; }

.san { background-image: url("fotos/santiago.jpg") ;
       background-size: cover;
       position: absolute;
        min-height: 345px;
        width:100%;
       }

.tgaleria:hover .san { opacity: 0.6;
                      }

.san:hover { opacity: 1.0; }
/* ------------------------------------------------------------------CONTACTO-------------------------------------------------------------*/


.contact-headline { width: 100%;
                    background-color:#5157CE; }

.carousel-inner2 {

    margin-top: -80px;  
    margin-bottom: 10px;
    width: 1000px;
}  

.carousel-inner2 {
    position: relative;
    overflow: hidden;
    left: 15%;
}

.contact-tagline { margin:30px;
                  }

.form-contact { background-color:#C3C5F8;
                 margin-bottom:0px;  }

.form-check { text-align: left;
              font-weight: 700; }

.btn-primary { margin-left: 250px;
              font-size: 30px;
              font-weight: bold;
             }

.row {
    font-weight: bold;
    font-size: 20px;}

/*--------------------------------------------------------------------footer--------------------------------------------------------------*/

footer {width:100%;
	      max-height: 30px;
        background-color:#F5A7E0;
        margin-top: 25px;
        margin-bottom: 0px;
        overflow: hidden;
        }



footer a { text-decoration: none; }

footer li{display:inline-block;} 

footer i {font-size:25px;
          color:#5157CE;
          padding-top: 10%x , 0px;}

.media { display: inline-block; }

.rights { display: inline-block;
          max-height:20px;
          float: right;
         }

.rights p {display: inline-block;}         


/*-------------------------------------------------------------------mobile-------------------------------------------------------*/


@media only screen and (max-width: 500px) 
{

/*--------------------------------------------------------Home------------------------------------------------------------------*/

#historia { display: flex;
          flex-flow: column;
          padding-left: 2px;
          margin-top: -5px;}

.hist1, .hist2 { 
                width: 100%; 
                display: block;
              }
.hist2 { margin-top: 2px; }



#listanews{ display: flex;
            flex-wrap: wrap;
            flex-flow: column; }



.news { width:100%;
        margin-top: 15px;
        
         }


.headline a { font-size: 30px; }




/*--------------------------------------------------------------Tours-----------------------------------------------------------*/

.tpais { display: flex;
         flex-flow: column;
         flex-wrap: wrap;
         margin-top: -70px;}




.tgaleria{
          width:90%;
          margin-top: 15px;
          margin-left: 20px;
          border-color: white;
          border-style: solid;

          
          
          }

/*------------------------------------------------------------Discografia -----------------------------------------------------*/

.img-disco { display: block; }

.disco_content{margin-top: 17px;}

.cd_discografia table { font-size: 20px; }




/*------------------------------------------------------------- Contact -----------------------------------------------------------*/ 

.carousel-inner2 { width:100%;
                   left:0%; }

.btn-primary { margin-left: 0px;
               width:100%;
             }

.form-row { margin:0px; }

.row { margin-right:0px;
       margin-left: 0px; }

}

/*-----------------------------------------------------------footer -----------------------------------------------------------*/ 

footer a { text-decoration: none; }

footer li{display:inline-block;} 

footer i {font-size:20px;
          color:#5157CE;
          margin-right: 10px;
          padding-top: 10%x , 0px;
         margin-right: 2px;}

.media { display: inline-block; }

.rights { display: inline-block;
          max-height:20px;
          float: right;
         }

.rights p {display: inline-block;
           font-size: 10px;}         

}


@media only screen and (max-width: 1024px) 






