body { background-image: url("fotos/trama_fondo4.jpg");
       background-color: black;
       }



h2{ color: #C1F5F0;
        text-align: center; }


p{ color:#FC77F0; }


/* botón búsqueda*/

.busq input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    background-color: white;
    background-image: url('fotos/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.busq input[type=text]:focus {
    width: 50%;
}

header {/*background-color:blue;*/
       }

.banner { display: inline-block;
          width:33%;
          vertical-align: top;
}
  


/* barra de navegación*/

nav {padding-right: 100px;}
nav ul { text-align: center;
         list-style: none;
         
         }


nav a{ text-decoration: none;
       color:white;
       font-size: large;
       font-weight: bolder;}

nav a:hover{color:#3D0738;}

nav a:active{color:##3D0738;}



.navi { width:15%;
        height: 25px;
        padding-top: 10px;
        margin-left: 25px;  
        background:linear-gradient(to top, #AF0317, #A37804);
        display:inline-block;
        text-align: center;
        transition: ease all 0.2s;
       



        }

.navi:hover{ background:linear-gradient(to top, #C00994, #B776A7);
             color: white;
             box-shadow: inset 0 0 0 3px #C1F5F0;
             transform: scale(0.9);


}
 
.navi a { display:block; }



         
.disco { display:none;
         position: absolute;
         width: 85px;
         background-color: #3D0738;
         text-decoration: none;
         z-index: 1200

         }
.disco a:hover{color:white;
               background:linear-gradient(to top, #C00994, #B776A7); }

.disco a:active{color:black;}

.disco li {
            margin-left: -35px;
            margin-top: 5px;
            text-align: left;
             }




ul .navi:hover .disco {display:block;}
          
.tours { display:none;
         position: absolute;
         width: 85px;
         background-color: #3D0738;
         text-decoration: none;
         z-index: 1200

         }

.tours li {
            margin-left: -35px;
            margin-top: 5px;
            text-align: left;
             }

.tours a:hover{color:white;
               background:linear-gradient(to top, #C00994, #B776A7); }

.tours a:active{color:black;}


ul .navi:hover .tours {display:block;}
